<% layout("/layouts/boilerplate") %>

    <body>

        <h3 id="mainHeading">Explore Unesco World Heritage Sites in INDIA</h3>

        <div class="map">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1NRlTvjkZQ4KyXsQOfG-w9hCOsSm82k0&ehbc=2E312F">
            </iframe>
        </div>

        <br><br>

        <hr>

        <section class="siteNames">
            <div>
                <h4>Cultural (35)</h4><br>
                <% for(unescosite of unescosites) { %>
                    <% if(unescosite.category=="Cultural" ) { %>
                        <li><a href="/unescoSites/<%=unescosite.siteId%>">
                                <%=unescosite.title%>
                            </a></li>
                        <% } %>

                            <% } %>
            </div>

            <div>
                <h4>Natural (7)</h4><br>
                <% for(unescosite of unescosites) { %>
                    <% if(unescosite.category=="Natural" ) { %>
                        <li><a href="/unescoSites/<%=unescosite.siteId%>">
                                <%=unescosite.title%>
                            </a></li>
                        <% } %>

                            <% } %>

                                <h4 id="mixed">Mixed (1)</h4><br>
                                <% for(unescosite of unescosites) { %>
                                    <% if(unescosite.category=="Mixed" ) { %>
                                        <li><a href="/unescoSites/<%=unescosite.siteId%>">
                                                <%=unescosite.title%>
                                            </a></li>
                                        <% } %>

                                            <% } %>


            </div>

        </section>

    </body>